@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 



body
{
  background-color: #111;

}
nav
{
  display: flex;
  height: 80px;
  width: 100%;
  background: #2d2c2c;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
nav .logo{
  color: #07a2b7;
  font-size: 35px;
  font-weight: 700px;
  margin-left: 2px;
  margin-right:0px;
  font-style: bold;
  padding-top: 5px;
  cursor: pointer;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  background: #07a2b7;
  color: #fff;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
 
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.About-head h1{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.About-head p{
  color: #ccc;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;

}

.why h1
{
  color:#07a2b7;
  font-size: 50px;
  display: block;
}





/* Section Layout */
.features-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Feature Cards */
.feature-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-card:hover {
 transform: scale(1.05);
  box-shadow: 0 0 10px #00d9ff;
  
}

/* Icons */
.feature-card i {
  font-size: 30px;
  color: #6a5df5;
  margin-bottom: 15px;
}

/* Headings */
.feature-card h3 {
  color: #00ccff;
  font-size: 1.3em;
  margin-bottom: 10px;
}

/* Paragraph */
.feature-card p {
  color: #555;
  font-size: 0.95em;
  line-height: 1.6;
}

.offers
{
  margin-top: 10%;
  margin-bottom: 10%;
  color: #07a2b7;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


                        /*       what we   Offers section            */

.products-card
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 45px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
}

.product-box
{
  
 background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  max-width: 260px; /* ensures nice card width */
  transition: all 0.3s ease;
  
}

.product-box:hover
{
  transform: scale(1.05);
  box-shadow:0 0 10px 10px  #07a2b7;
  
  
}

.product-icon
{
  font-size: 50px;
  margin-bottom: 15px;
}

.product-title
{
  font-size: 24px;
  color: #07a2b7;
  margin-bottom: 5px;
}
.product-grid p
{
  color:#1b1b1b;

}


/* Footer Styles */
.footer-content {
  background-color: #2d2c2c;
  padding: 10px 10px;
  text-align: center;
}

.footer-content h3 {
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.socials a {
  color: #07a2b7;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.socials a:hover {
  background: linear-gradient(45deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer p {
  color: #ccc;
  text-align: center;
}
.footer-bottom-text {
  margin-top: 5px;
}


@media(max-width: 370px) {
  nav .logo{
    font-size: 25px;
    
  }
}


@media (max-width: 370px){
  .footer-content p{
    font-size: 12px;
    
  }
}

/* Responsive for 450px and below */
 img{
  display: block;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 15px 25px rgba(29, 148, 187, 0.608));
  cursor: pointer;
  
}

