@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0b59b8, #033747);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Overlay for subtle depth */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 217, 255, 0.01);
  z-index: -1;
}

/* CARD */
.card {
  background: rgba(255, 255, 255, 0.08);
  width: 450px;
  height: auto;
  border: #807f7f solid 2px;
  border-radius: 4px;
  text-align: center;
  padding: 25px 20px 30px;
  box-shadow: 0 8px 20px rgba(0, 217, 255, 0.2);
  transition: 0.4s ease;
  backdrop-filter: blur(10px);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 217, 255, 0.35);
}

/* HEAD */
.head h2 {
  color: #00d9ff;
  margin-bottom: 15px;
  font-size: 1.9em;
  letter-spacing: 0.5px;
}

/* PROFILE IMAGE */
.pic img {
  width: 150px;
  height: 170px;
  
  border-radius:10px;
  border: 3px solid #00d9ff;
  object-fit: cover;
  margin-bottom: 15px;
  transition: 0.3s;
}

.pic img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00d9ff;
}

/* DESCRIPTION */
.desc {
  color: #c9e8ff;
  font-size: 0.95em;
  margin-bottom: 10px;
}

.name p {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}

.role {
  font-size: 0.9em;
  color: #a8dff1;
  margin-bottom: 15px;
}

/* CONNECT TEXT */
.connect h2{
  color: #00d9ff;
  font-weight: 600;
  font-size: 25px;
  margin-top: 10px;
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.socials a {
  color: #fff;
  font-size: 30px;
  transition: 0.3s;
  margin-top: 10px;
}

.socials a:hover {
  color: #00d9ff;
  transform: scale(1.2);
}

/* FOOTER */
.footer {
  margin-top: 10px;
  color: #a8dff1;
  font-size: 0.85em;
}

.footer hr {
  border: none;
  border-top: 1px solid rgba(0, 217, 255, 0.2);
  margin: 10px 0;
}
.footer p
{
  margin-top: 10px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 420px) {
  .card {
    width: 90%;
    padding: 20px;
  }

  .pic img {
    width: 100px;
    height: 100px;
  }

  .head h2 {
    font-size: 1.1em;
  }

  .role {
    font-size: 0.85em;
  }
}
