<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav
{
  display: flex;
  height: 80px;
  width: 100%;
  background: #2d2c2c;
 
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
nav .logo{
  color: #07a2b7;
  font-size: 35px;
  font-weight: 700px;
  margin-left: 2px;
  margin-right:0px;
  font-style: bold;
  padding-top: 5px;
  cursor: pointer;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  background: #07a2b7;
  color: #fff;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
 
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}


/* body */ 

body {
  background-color: #111;
}

html {
  scroll-behavior: smooth;
}

.heading h1
{
  text-align: center;
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  margin-top: 200px;
}
.MENU a {
  text-decoration: none;
  color: #fff;
}

.MENU {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  color: #fff;
  margin-bottom: 60px;
  list-style: none;
}
.box1, .box2, .box3 {
  background: #2d2c2c;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.box1:hover,
.box2:hover,
.box3:hover {
  box-shadow: #07a2b7 0px 0px 20px 0px;
}



.fishcard
{
   width: 350px;
  border-radius: 6px;
  background-color: #fffbfb;
  margin: 30px;
  position: relative;
  padding: 10px;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: darkgreen;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
  margin: 10px;
}
img
{
  width: 100%;
  height: 350px;
  border-radius: 3px;
}

/* Buttons below text, same line */
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
 
 
}

.add-to-cart,
.buybtn {
  background-color: rgb(30, 255, 0);
  color: #0e0e0e;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 150px;
  margin-right: 10px;
 
  
  
}

.add-to-cart:hover,
.buybtn:hover {
  background-color: #00cc00;
}




.fishname{
  color: #3c7982;
  font-size: 20px;
  margin-left: 8px;
}

.types{
  text-align: center;
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  margin-top: 60px;
  margin-bottom: 50px;

}

.fishprice{
  margin: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.size-options {
  text-align: left;
  gap: 10px;
  font-size: 20px;
  margin: 2px;
  margin-left: 10px;
  padding: 2px;
  font-style: bold 2px;
}
input {
  cursor: pointer;
}


/* main */
#NormalFishes
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#SemiAgressiveFishes
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#AgressiveFishes
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* image */

.aboutimage img{
  display: block;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 15px 25px rgba(29, 148, 187, 0.608));
  cursor: pointer;
  
 
}




/* Responsive for 450px and below */
@media (max-width: 450px) {
  .productscard {
    width: 80%;
    margin-bottom: 15px;
  }

  img {
    height: 250px;
  }

  .buttons {
    flex-direction: column;
    
  }

  .add-to-cart,
  .buybtn {
    width: 100%;
    margin-top: 10px;
  }
  
.size-options{
  font-size: 15px;
}

}


@media(max-width: 370px) {
  nav .logo{
    font-size: 25px;
    
  }
}


.types h1
{
  font-size: 30px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 50px;
}



/* Footer Styles */
.footer-content {
  background-color: #2d2c2c;
  padding: 10px 10px;
  text-align: center;
}

.footer-content h3 {
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.socials a {
  color: #07a2b7;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.socials a:hover {
  background: linear-gradient(45deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer p {
  color: #ccc;
  text-align: center;
}
.footer-bottom-text {
  margin-top: 10px;
}

@media (max-width: 370px){
  .footer-content p{
    font-size: 12px;
    
  }
}


=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav
{
  display: flex;
  height: 80px;
  width: 100%;
  background: #2d2c2c;
 
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
nav .logo{
  color: #07a2b7;
  font-size: 35px;
  font-weight: 700px;
  margin-left: 2px;
  margin-right:0px;
  font-style: bold;
  padding-top: 5px;
  cursor: pointer;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  background: #07a2b7;
  color: #fff;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
 
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}


/* body */ 

body {
  background-color: #111;
}

html {
  scroll-behavior: smooth;
}

.heading h1
{
  text-align: center;
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  margin-top: 200px;
}
.MENU a {
  text-decoration: none;
  color: #fff;
}

.MENU {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  color: #fff;
  margin-bottom: 60px;
  list-style: none;
}
.box1, .box2, .box3 {
  background: #2d2c2c;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.box1:hover,
.box2:hover,
.box3:hover {
  box-shadow: #07a2b7 0px 0px 20px 0px;
}



.fishcard
{
   width: 350px;
  border-radius: 6px;
  background-color: #fffbfb;
  margin: 30px;
  position: relative;
  padding: 10px;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: darkgreen;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
  margin: 10px;
}
img
{
  width: 100%;
  height: 350px;
  border-radius: 3px;
}

/* Buttons below text, same line */
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.add-to-cart,
.buybtn {
  background-color: rgb(30, 255, 0);
  color: #0e0e0e;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.add-to-cart:hover,
.buybtn:hover {
  background-color: #00cc00;
}

.fishname{
  color: #3c7982;
  font-size: 20px;
  margin-left: 8px;
}

.types{
  text-align: center;
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  margin-top: 60px;
  margin-bottom: 50px;

}

.fishprice{
  margin: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.size-options {
  text-align: left;
  gap: 10px;
  font-size: 20px;
  margin: 2px;
  margin-left: 10px;
  padding: 2px;
  font-style: bold 2px;
}
input {
  cursor: pointer;
}


/* main */
#NormalFishes
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#SemiAgressiveFishes
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#AgressiveFishes
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


/* Responsive for 450px and below */
@media (max-width: 450px) {
  .productscard {
    width: 80%;
    margin-bottom: 15px;;
  }

  img {
    height: 250px;
  }

  .buttons {
    flex-direction: column;
    
  }

  .add-to-cart,
  .buybtn {
    width: 80%;
    margin-top: 10px;
  }
  
.size-options{
  font-size: 15px;
}

}



/* Footer Styles */
.footer-content {
  background-color: #2d2c2c;
  padding: 10px 10px;
  text-align: center;
}

.footer-content h3 {
  background: linear-gradient(180deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.socials a {
  color: #07a2b7;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.socials a:hover {
  background: linear-gradient(45deg, #07a2b7, #b9ccd1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer p {
  color: #ccc;
  text-align: center;
}
.footer-bottom-text {
  margin-top: 10px;
}


>>>>>>> 46263dca0124a1a7050740ea8920a96c5f8a319c
